<div class="logo">
  <input class="search" placeholder=" Search..." />
</div>
<label class="contents">Reinforced Concrete </label>
<div class="nav-bar">
  <app-panel title="Section Analysis" class="panel">
    <div class="input_label">
      <label>Flexural design of RC beam </label>
    </div>
    <div class="input_label">
      <label>Moment Curvature Analysis </label>
    </div>
  </app-panel>
  <app-panel title="Section Analysis" class="panel">
    <div class="input_label">
      <label>Concrete </label>
    </div>
  </app-panel>
</div>
