:host {
  background-color: rgb(81, 81, 83);
  color: white;
  display: block;
}
.search {
  height: 140px;
  width: 300px;
  background-color: #3a789e;
  position: relative;
  .search-input {
    background-color: white;
    width: 250px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: absolute;
    top: 70%;
    left: 20px;
    &:focus {
      outline: none;
    }
  }
}
.contents {
  cursor: pointer;
  width: 250px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 0px 0px 5px;
  margin-bottom: 5px;
  position: absolute;
  top: 10%;
  left: 15px;
  &:hover {
    color: white;
  }
}
.title {
  width: fit-content;
  color: #c6d7e2;
  text-shadow: 2px 2px #212629;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 0px 10px 5px;
  text-decoration: none;
  cursor: pointer;
}
app-panel {
  border-bottom: 1px solid black;
  padding-top: 8px;
}
.panel-item {
  width: fit-content;
  padding: 5px 0px 5px 10px;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    color: #b8d7eb;
  }
}
