<div>
  <div class="search">
    <div [routerLink]="'/home'" class="contents">
      <i class="material-icons">library_books</i>
      Contents
    </div>
    <input class="search-input" placeholder="Search..." />
  </div>
  <div class="title">{{ title }}</div>
  <!-- <app-panel [state]="'closed'" title="Section Design" class="panel">
    <label class="panel-label">Flexural design of RC Column </label>
    <label class="panel-label" [routerLink]="'/search'"
      >Confining Reinforcement</label
    >
  </app-panel> -->
  <!-- <app-panel class="panel" [state]="'closed'" title="{{ title }}">
    
  </app-panel> -->
  <div><ng-content></ng-content></div>
</div>
