:host {
  background-color: rgb(81, 81, 83);
  color: white;
}
.search {
  height: 140px;
  width: 300px;
  background-color: #3a789e;
  position: relative;
  .search-input {
    background-color: white;
    width: 250px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: absolute;
    top: 85%;
    left: 20px;
    &:focus {
      outline: none;
    }
  }
}
.contents {
  cursor: pointer;
  width: 250px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 0px 0px 5px;
  margin-bottom: 5px;
  position: absolute;
  top: 10%;
  left: 15px;
  &:hover {
    color: white;
  }
}
.title {
  width: fit-content;
  color: #c6d7e2;
  text-shadow: 2px 2px #212629;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 0px 15px 5px;
  text-decoration: none;
  cursor: pointer;
}
.panel.panel::ng-deep .panel-header {
  &:after {
    content: "\2630";
    transition: 1s;
  }
  &:hover {
    color: rgb(206, 198, 198);
  }
}
.test {
  padding: 10px 10px 0px 10px;
  cursor: pointer;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  &:hover {
    color: rgb(206, 198, 198);
  }
}

// .panel.test::ng-deep .panel-content {
//   padding: 10px 10px 0px 10px;
//   .panel-label {
//     width: fit-content;
//     cursor: pointer;
//     display: block;
//     font-size: 16px;
//     margin-bottom: 10px;
//     &:hover {
//       color: rgb(206, 198, 198);
//     }
//   }
// }

.panel.panel::ng-deep .title {
  cursor: pointer;
  font-size: 18px;
  &:hover {
    color: rgb(206, 198, 198);
  }
}

app-panel {
  border-bottom: 1px solid rgb(46, 45, 45);
  margin-bottom: 5px;
  padding: 5px 0px;
}
