:host {
  position: relative;
  display: block;
}
.input {
  width: 100%;
  padding: 6px 6px;
  margin-top: 5px;
  display: list-item;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.placeholder {
  font-weight: normal;
  color: gray;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 7px;
  pointer-events: none;
}
