<div class="search">
  <div [routerLink]="'/home'" class="contents">
    <i class="material-icons">library_books</i>
    Contents
  </div>
  <input class="search-input" placeholder="Search..." />
</div>
<div class="title">{{ title }}</div>

<div>
  <app-panel
    *ngFor="let panel of panels"
    [title]="panel.title"
    [titleLink]="panel.titleLink"
    fontSize="17px"
    [state]="'closed'"
  >
    <div
      class="panel-item"
      *ngFor="let item of panel.items"
      [routerLink]="item.link"
    >
      {{ item.text }}
    </div>
  </app-panel>
</div>
