<div>
  <header>Punching</header>
  <div class="input_data">
    <div>{{kosmas|async}}</div>
    <div *ngIf="kosmasKatiAllo | async as myVariable">
      {{myVariable.x}}
    </div>
    <div>{{kosmasKatiAllo|async|json}}</div>
    <!-- <div class="subtitle">Support Area {{ data | async | json }}</div> -->
    <div *ngIf="dx == 2">i am 2</div>
    <div *ngIf="data | async as forecast">
      <span>{{forecast[0].date}}</span>
      <div *ngFor="let item of forecast">
        <div>{{item.summary}}: {{item.date}}</div>
      </div>
    </div>
    <button (click)="sayHello()">say hello</button>
    <form action="/action_page.php">

      <label for="SectionType">Section Type</label>
      <!-- <select (change)="kaneKati()" id="SectionType" name="SectionType"> -->
      <select id="SectionType" name="SectionType">
        <option value="Rectangular">Rectangular</option>
        <option value="Circular">Circular</option>
      </select>

      <label for="Position">Position</label>
      <select id="Position" name="Position">
        <option value="Inner">Inner</option>
        <option value="Edge">Edge</option>
        <option value="Corner">Corner</option>
      </select>

      <ng-container *ngIf="dx == 2">
        <label for="cx">Section width</label>
        <input type="number" id="cx" name="cx" placeholder="cx">
      </ng-container>


      <label for="cy">Section height</label>
      <input type="number" id="cy" name="cy" placeholder="cy">

    </form>
  </div>
  <div class="input_data">
    <h3>Slab</h3>
    <form action="/action_page.php">

      <label for="Type">Type</label>
      <select id="Type" name="Type">
        <option value="Slab">Slab</option>
        <option value="Foot">Foot</option>
      </select>

      <label for="height">height</label>
      <input type="number" id="height" name="height" placeholder="hs">

      <label for="cover">Nominal cover</label>
      <input type="number" id="cover" name="cover" placeholder="cnom">

    </form>
  </div>
</div>