<a [routerLink]="'/home'"><i class="fa fa-fw fa-home"></i> Home </a>
<a [routerLink]="'/search'"><i class="fa fa-search"></i> Search</a>

<div class="topnav-right">
  <div class="dropdown">
    <button class="dropbtn" [routerLink]="'/application'">
      Applications <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Statics</a>
      <a [routerLink]="'/structural'">Structural</a>
      <a href="#">Reliability</a>
    </div>
  </div>
  <!-- <a [routerLink]="'/search'">Search</a> -->
  <a href="#about">About</a>
</div>
