:host {
  display: block;
}
.test {
  display: flex;
  width: 100%;
}
.main {
  position: inherit;
  width: 100%;
}
label {
  cursor: pointer;

  &.active {
    font-weight: bold;
  }
}
// .title {
//   padding: 10px;
//   border-bottom: 1px solid rgba(54, 54, 54, 0.411);
//   padding: 20px 0px 0px 20px;
//   margin: 10px 0px;
//   font-size: 25px;
//   font-weight: bold;
//   margin: 100px;
// }
.constructor {
  padding: 10px;
  background-color: #eeeef1;
  border-radius: 4px;
  display: flex;
}
.input_data {
  width: 40%;
  padding-left: 10px;
  font-size: 22px;
  font-weight: bold;
  border-right: 1px solid rgba(54, 54, 54, 0.411);
}
.outputs {
  width: 60%;
  padding-left: 20px;
  font-size: 22px;
  font-weight: bold;
}
.input_label {
  margin: 5px;
  display: block;
  font-size: 17px;
  font-weight: bold;
}
.other {
  width: 100%;
  padding: 6px 6px;
  margin-top: 5px;
  display: list-item;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  box-sizing: border-box;
}
app-panel {
  margin: 10px 0px 0px 0px;
}
